<div class="clinician_nav">
    <a href="#">
        <img src="./logo/doctor (1).png" class="round_icon">
    </a>
    {{#with onePatient}}
    <a>
        <p class="segoeui_regular_blue">Hi, {{this.first_name}}</p>
    </a> 
    {{/with}}
    <a href="#">
        <img src="./logo/home.png" class="nav_icon">
    </a>
    <a href="#">
        <img src="./logo/multiple-users-silhouette (1).png" class="nav_icon">
    </a>
</div>

<!-- left column -->
<div class="ClinicianUI_patient_detail_page_left">
    <!-- patient detail side -->
    <div class="patient_detail_card">
        <img src="./logo/man.png">
        {{#with onePatient}}
        <div class="patient_detail_container">
            <h4 class="roboto_regular_black" style="font-size: 48px;">
                {{this.first_name}} {{this.last_name}}
            </h4>
            <p class="roboto_regular_gray_24px">{{this.email}}</p>
        </div>
        {{/with}}
    </div>

    <!-- data seletor -->
    <div class="patient_data_selector_container">
        <p class="roboto_regular_black" style="font-size: 18px;">
            Tell your Patient what Data he needs to record
        </p>
    </div>

    <div class="data_container_list">
        <div class="data_container">
            <label class="segoeui_bold_white">Blood glucose level</label>
            <input type="checkbox" class="required_data">
        </div>

        <div class="link_buttom"></div>

        <div class="data_container">
            <label class="segoeui_bold_white">Weight</label>
            <input type="checkbox" class="required_data">
        </div>
        <div class="link_buttom"></div>

        <div class="data_container">
            <label class="segoeui_bold_white">Doses of Insulin Taken</label>
            <input type="checkbox" class="required_data">
        </div>
        <div class="link_buttom"></div>

        <div class="data_container">
            <label class="segoeui_bold_white">Exercise </label> 
            <input type="checkbox" class="required_data">
        </div>
        <div class="link_buttom"></div>
        
        <!-- Save Required Button -->
        <!-- 还没有正式地给它添加任何的数据保存功能 -->
        <button id="save_required_button" onclick="SubmitRequiredData()">
            <span class="segoeui_bold_white">Save</span>
        </button>  
    </div>
    
    <!-- time sequence -->
    <div>

    </div>
</div>

<!-- middle column -->
<div class="ClinicianUI_patient_detail_page_middle">
    <!-- patient's data table in a tab-->
    <div class="patient_data_content">
        <button class="patient_data_tabs" onclick="OpenTable(event,'blood_glucose_level')">
            Blood Glucose Level
        </button>

        <button class="patient_data_tabs" onclick="OpenTable(event,'weight')">
            Weight
        </button>

        <button class="patient_data_tabs" onclick="OpenTable(event,'doses_of_insulin_taken')">
            Doses of Insulin Taken
        </button>

        <button class="patient_data_tabs" onclick="OpenTable(event,'exercise')">
            Exercise 
        </button>
    </div>
    
    <!-- 数据 -->
    <div id="weight" class="patient_data_tabs_content">
        <table>
            <!-- category -->
            <tr>
                <th>Time</th>
                <th>Weight(kg)</th>
                <th>Comment</th>
            </tr>
            {{#each weight_data}}
            <tr>
                <td>{{this.Date}}</td>
                <td>{{this.weight}}</td>
                <td>{{this.comment}}</td>
            </tr>
            {{/each}}
            <!-- 
                todo: get data from the database
            -->
        </table>
    </div>

    <div id="blood_glucose_level" class="patient_data_tabs_content">
        <table>
            <!-- category -->
            <tr>
                <th>Time</th>
                <th>Blood glucose level(Nmol/L)</th>
                <th>Comment</th>
            </tr>
            {{#each bgl_data}}
            <tr>
                <td>{{this.Date}}</td>
                <td>{{this.blood_glucose_level}}</td>
                <td>{{this.comment}}</td>
            </tr>
            {{/each}}
            <!-- 
                todo: get data from the database
            -->
        </table>
    </div>

    <div id="doses_of_insulin_taken" class="patient_data_tabs_content">
        <table>
            <!-- category -->
            <tr>
                <th>Time</th>
                <th>Doses of insulin taken</th>
                <th>Comment</th>
            </tr>
            {{#each insulin_data}}
            <tr>
                <td>{{this.Date}}</td>
                <td>{{this.insulin_shots}}</td>
                <td>{{this.comment}}</td>
            </tr>
            {{/each}}
            <!-- 
                todo: get data from the database
            -->
        </table>
    </div>

    <div id="exercise" class="patient_data_tabs_content">
        <table>
            <!-- category -->
            <tr>
                <th>Time</th>
                <th>Exercise(steps)</th>
                <th>Comment</th>
            </tr>
            {{#each exercise_data}}
            <tr>
                <td>{{this.Date}}</td>
                <td>{{this.walk_steps}}</td>
                <td>{{this.comment}}</td>
            </tr>
            {{/each}}
            <!-- 
                todo: get data from the database
            -->
        </table>
    </div>
    
</div>

<!-- Right column -->
<!-- Note bar -->
<div class="ClinicianUI_patient_detail_page_right">
    <div class="clinician_note_content">
        <h2 class="roboto_regular_black" style="font-size: 25px;">
            Note
        </h2>

        <!-- Add Note -->
        <div class="notes_container">
            <ul id="notes">
            </ul>
        </div>

        <!-- Note Submit button -->
        <div id="note_input_container">
            <input type="text" placeholder="Any notes here..."
                id="clinician_note_input">
                
            <button id="clinician_note_submit" 
                    class="segoeui_bold_white">
                Submit
            </button>
        </div>
    </div>
</div>
<!-- Chats box -->

<div>

</div>
<script src="./javascripts/script.js"></script> 
