<div class="clinician_nav">
    <a href="/clinician">
        <img src="../logo/doctor (1).png" class="round_icon">
    </a>
    {{#with onePatient}}
    <a>
        <p class="segoeui_regular_blue">Hi, {{this.first_name}}</p>
    </a> 
    {{/with}}
    <a href="/clinician">
        <img src="../logo/home.png" class="nav_icon">
    </a>
    <a href="#">
        <img src="../logo/multiple-users-silhouette (1).png" class="nav_icon">
    </a>
</div>

<!-- left column -->
<div class="ClinicianUI_patient_detail_page_left">
    <!-- patient detail side -->
    <div class="patient_detail_card">
        {{#with onePatient}}
        <img src={{this.img}}>
        <div class="patient_detail_container">
            <h4 class="roboto_regular_black" style="font-size: 48px;">
                {{this.first_name}} {{this.last_name}}
            </h4>
            <p class="roboto_regular_gray_24px">{{this.email}}</p>
        </div>
        {{/with}}
    </div>

    <!-- data seletor -->
    
    <div class="patient_data_selector_container">
        <p class="roboto_regular_black" style="font-size: 18px;">
            Tell your Patient what Data he needs to record
        </p>
    </div>
    
    
    <div class="data_container_list">
        {{#with onePatient}}
        <form action="/clinician/{{this._id}}" method = 'post'>
            <div class="data_container">
                <label class="segoeui_bold_white">Blood glucose level</label>
                <input type="checkbox" class="required_data" name="req_bgl">
            </div>

            <div class="link_buttom"></div>

            <div class="data_container">
                <label class="segoeui_bold_white">Weight</label>
                <input type="checkbox" class="required_data" name="req_weight">
            </div>
            <div class="link_buttom"></div>

            <div class="data_container">
                <label class="segoeui_bold_white">Doses of Insulin Taken</label>
                <input type="checkbox" class="required_data" name="req_insulin">
            </div>
            <div class="link_buttom"></div>

            <div class="data_container">
                <label class="segoeui_bold_white">Exercise </label> 
                <input type="checkbox" class="required_data" name="req_exercise">
            </div>
            <div class="link_buttom"></div>
            
            <!-- Save Required Button -->
            <!-- 还没有正式地给它添加任何的数据保存功能 -->
            <button type="submit" id="save_required_button" onclick="SubmitRequiredData()">
                <span class="segoeui_bold_white">Save</span>
            </button>  
        </form>
        {{/with}}
    </div>
    
    
    
    <!-- time sequence -->
    <div id="time_sequence">
        <h5 class="segoeui_bold_white">Time required for data enter:</h5>
        <select>
            <option value="7:00">7:00 am</option>
            <option value="8:00">8:00 am</option>
            <option value="9:00">9:00 am</option>
            <option value="10:00">10:00 am</option>
            <option value="11:00">11:00 am</option>
            <option value="12:00">12:00 pm</option>
            <option value="13:00">13:00 pm</option>
            <option value="14:00">14:00 pm</option>
            <option value="15:00">15:00 pm</option>
            <option value="16:00">16:00 pm</option>
            <option value="17:00">17:00 pm</option>
            <option value="18:00">18:00 pm</option>
            <option value="19:00">19:00 pm</option>
            <option value="20:00">20:00 pm</option>
            <option value="21:00">21:00 pm</option>
        </select>
        <span>
            <button class="segoeui_bold_white" onclick="SubmitRequiredData()">
                Submit
            </button>
        </span>
    </div>
</div>

<!-- middle column -->
<div class="ClinicianUI_patient_detail_page_middle">
    <!-- patient's data table in a tab-->
    <div class="patient_data_content">
        <button class="patient_data_tabs" onclick="OpenTable(event,'blood_glucose_level')">
            Blood Glucose Level
        </button>

        <button class="patient_data_tabs" onclick="OpenTable(event,'weight')">
            Weight
        </button>

        <button class="patient_data_tabs" onclick="OpenTable(event,'doses_of_insulin_taken')">
            Doses of Insulin Taken
        </button>

        <button class="patient_data_tabs" onclick="OpenTable(event,'exercise')">
            Exercise 
        </button>
    </div>
    
    <!-- Tab Content -->
    <div id="weight" class="patient_data_tabs_content">
        <div class="threshold">
            <h3>The threshold is:</h3>


            <!-- get threshold -->
            {{#with onePatient}}
            <p id="weight_threshold_upper" class="segoeui_regular_blue">{{this.weight_up}}</p>
            <p class="segoeui_regular_blue"> ~ </p>
            <p id="weight_threshold_lower" class="segoeui_regular_blue">{{this.weight_down}}</p>
            <div class="threshold_setting">
            <button>
                <img src="../logo/setting.png" class="round_icon" id="set_threshold_weight">
            </button>
            </div>
            
            
            <div class= "gray_cover" id="gray_form_4"></div>
            <div class="form-popup" id="threshold_form_weight">
                <form action="/clinician/{{this._id}}" method = 'post' class="form-container">
                    <h1>Record Your Threshold</h1>
                
                    <label for="data_field"><b>upperbond</b></label>

                    <input type="number" placeholder="Enter upper bond for weight" name="weight_upper" required>
                
                    <label for="comment_field"><b>lowerbond</b></label>
                    <input type="number" placeholder="Enter lower bond for weight" name="weight_lower" required>

                
                    <button type="submit" class="submit_button" id ="weightThreshold_submit">Submit</button>
                    <button type="button" class="close_button" id="weightThreshold_close">Close</button>
                </form>
                
            </div>
            {{/with}}

            
        </div>

        <table>
            <!-- category -->
            <tr>
                <th>Time</th>
                <th>Weight(kg)</th>
                <th>Comment</th>
            </tr>
            {{#each weight_data}}
            <tr>
                <td>{{this.record_date}}</td>
                <td>{{this.weight}}</td>
                <td>{{this.comment}}</td>
            </tr>
            {{/each}}
            <!-- 
                todo: get data from the database
            -->
        </table>
    </div>

    <div id="blood_glucose_level" class="patient_data_tabs_content">
        <div class="threshold">
            <h3>The threshold is:</h3>


            <!-- get data -->
            {{#with onePatient}}
            <p id="bgl_threshold_upper" class="segoeui_regular_blue">{{this.bgl_up}}</p>
            <p class="segoeui_regular_blue"> ~ </p>
            <p id="bgl_threshold_lower" class="segoeui_regular_blue">{{this.bgl_down}}</p>
            
            <div class="threshold_setting">
            <button>
                <img src="../logo/setting.png" class="round_icon" id="set_threshold_bgl">
            </button>
            </div>

            
            <div class= "gray_cover" id="gray_form_5"></div>
            <div class="form-popup" id="threshold_form_bgl">
                <form action="/clinician/{{this._id}}" method = 'post' class="form-container">
                    <h1>Record Your Threshold</h1>
                
                    <label for="data_field"><b>upperbond</b></label>

                    <input type="number" placeholder="Enter upper bond for blood glucose level" name="bgl_upper" required>
                
                    <label for="comment_field"><b>lowerbond</b></label>
                    <input type="number" placeholder="Enter lower bond for blood glucose level" name="bgl_lower" required>

                
                    <button type="submit" class="submit_button" id ="bglThreshold_submit" >Submit</button>
                    <button type="button" class="close_button" id="bglThreshold_close">Close</button>
                </form>
                
            </div>
            {{/with}}
        </div>

        <table>
            <!-- category -->
            <tr>
                <th>Time</th>
                <th>Blood glucose level(Nmol/L)</th>
                <th>Comment</th>
            </tr>
            {{#each bgl_data}}
            <tr>
                <td>{{this.record_date}}</td>
                <td>{{this.blood_glucose_level}}</td>
                <td>{{this.comment}}</td>
            </tr>
            {{/each}}
            
        </table>
    </div>

    <div id="doses_of_insulin_taken" class="patient_data_tabs_content">
        <div class="threshold">
            <h3>The threshold is:</h3>


            <!-- get data -->
            {{#with onePatient}}
            <p id="insulin_threshold_upper" class="segoeui_regular_blue">{{this.insulin_up}}</p>
            <p class="segoeui_regular_blue"> ~ </p>
            <p id="insulin_threshold_lower" class="segoeui_regular_blue">{{this.insulin_down}}</p>
            
            <div class="threshold_setting">
            <button>
                <img src="../logo/setting.png" class="round_icon" id="set_threshold_insulin">
            </button>
            </div>

            
            <div class= "gray_cover" id="gray_form_6"></div>
            <div class="form-popup" id="threshold_form_insulin">
                <form action="/clinician/{{this._id}}" method = 'post' class="form-container">
                    <h1>Record Your Threshold</h1>
                
                    <label for="data_field"><b>upperbond</b></label>

                    <input type="number" placeholder="Enter upper bond for insulin" name="insulin_upper" required>
                
                    <label for="comment_field"><b>lowerbond</b></label>
                    <input type="number" placeholder="Enter lower bond for insulin" name="insulin_lower" required>

                
                    <button type="submit" class="submit_button" id ="insulinThreshold_submit">Submit</button>
                    <button type="button" class="close_button" id="insulinThreshold_close">Close</button>
                </form>
                
            </div>
            {{/with}}
        </div>
        <table>
            <!-- category -->
            <tr>
                <th>Time</th>
                <th>Doses of insulin taken</th>
                <th>Comment</th>
            </tr>
            {{#each insulin_data}}
            <tr>
                <td>{{this.record_date}}</td>
                <td>{{this.insulin_shots}}</td>
                <td>{{this.comment}}</td>
            </tr>
            {{/each}}
        
        </table>
    </div>

    <div id="exercise" class="patient_data_tabs_content">
        <div class="threshold">
            <h3>The threshold is:</h3>


            <!-- get data -->
            {{#with onePatient}}
            <p id="exercise_threshold_upper" class="segoeui_regular_blue">{{this.exercise_up}}</p>
            <p class="segoeui_regular_blue"> ~ </p>
            <p id="exercise_threshold_lower" class="segoeui_regular_blue">{{this.exercise_down}}</p>
            
            <div class="threshold_setting">
            <button>
                <img src="../logo/setting.png" class="round_icon" id="set_threshold_exercise">
            </button>
            </div>

            
            <div class= "gray_cover" id="gray_form_7"></div>
            <div class="form-popup" id="threshold_form_exercise">
                
                <form action="/clinician/{{this._id}}" method = 'post' class="form-container">
                    <h1>Record Your Threshold</h1>
                
                    <label for="data_field"><b>upperbond</b></label>

                    <input type="number" placeholder="Enter upper bond for exercise" name="exercise_upper" required>
                
                    <label for="comment_field"><b>lowerbond</b></label>
                    <input type="number" placeholder="Enter lower bond for exercise" name="exercise_lower" required>

                
                    <button type="submit" class="submit_button" id ="exerciseThreshold_submit">Submit</button>
                    <button type="button" class="close_button" id="exerciseThreshold_close">Close</button>
                </form>
                
            </div>
            {{/with}}
        </div>
        <table>
            <!-- category -->
            <tr>
                <th>Time</th>
                <th>Exercise(steps)</th>
                <th>Comment</th>
            </tr>
            {{#each exercise_data}}
            <tr>
                <td>{{this.record_date}}</td>
                <td>{{this.walk_steps}}</td>
                <td>{{this.comment}}</td>
            </tr>
            {{/each}}
            
        </table>
    </div>
    
    <div id="threshold_setting_modal">
        
    </div>
</div>

<!-- Right column -->
<!-- Note bar -->
<div class="ClinicianUI_patient_detail_page_right">
    <div class="clinician_note_content">
        <h2 class="roboto_regular_black" style="font-size: 25px;">
            Note
        </h2>

        <!-- Add Note -->
        <div class="notes_container">
            <ul id="notes">
            </ul>
        </div>

        <!-- Note Submit button -->
        <div id="note_input_container">
            <input type="text" placeholder="Any notes here..."
                id="clinician_note_input">
                
            <button id="clinician_note_submit" 
                    class="segoeui_bold_white">
                Submit
            </button>
        </div>
    </div>

    <!-- Chats box -->
    <div class="clinicianUI_message_container">
        <div class="clinicianUI_message_title"> 
            <h2>
                Message
            </h2>
        </div>
        
        <div class="clinicianUI_message_content">
            <!-- add function not completed yet -->
            <ul>
                <li>
                    <div class="single_clinician_message">
                        <p class="note_message segoeui_bold_white">
                            这里是留言render
                        </p>
                        <h6 class="single_clinician_message_datetime segoeui_bold_white">
                            这里是时间render
                        </h6>
                    </div>               
                </li>
                <!-- message add here -->
                <!-- 其实应该是input 直接到后台数据库
                    这里应该就是render
                    但是不知道格式会怎么影响毕竟主页是表格这里是div
                -- >
            </ul>
        </div>
        
        <div id="note_input_container">
            <input type="text" placeholder="Any comments for this patient?"
                id="clinician_message_input">

            <button id="clinician_message_submit"
                    class="segoeui_bold_white">
                Submit
            </button> 
        </div>
    </div>
</div>
<!-- Chats box -->

<div>

</div>
<script type="text/javascript" src="../javascripts/script.js"></script> 

<script type="text/javascript" src="../javascripts/weight_threshold.js"></script> 

