<!-- nav bar -->
<div class="clinician_nav">
    <a href="#">
        <img src="./logo/Diabetes @Home (8).png" class="round_icon">
    </a>
    {{#with docData}}
    <a>
        <p class="segoeui_regular_blue">Hi, {{this.first_name}}</p>
    </a> 
    {{/with}}
    <a href="#">
        <img src="./logo/home.png" class="nav_icon">
    </a>
    <a href="#">
        <img src="./logo/multiple-users-silhouette (1).png" class="nav_icon">
    </a>
</div>

<div class="table_name">
    <h1 class="roboto_regular_black_48px">My patient</h1>
</div>

<!-- patients table -->
<div class="clinician_main_left_column">
    <table class="patients_list">
        <!-- category -->
        <tr>
            <th>Name</th>
            <th>Blood glucose level(Nmol/g)</th>
            <th>Weight(kg)</th>
            <th>Doses of insulin taken</th>
            <th>Exercise(steps)</th>
        </tr>

        <tr>
            <td>Pat</td>
        </tr>

        <!-- 
            todo: get data from the database
        -->
    </table>
</div>

<!-- patient card -->
{{#with docData}}
<div class="clinician_main_right_column">
    <!-- 左右列打乱了原有格式，要改-->
    <div class="patitetn_card">
        <img src={{this.img}}>
        <h2 class="segoeui_regular_blue">Client: {{this.first_name}} {{this.last_name}}</h2>
        <p class="roboto_regular_gray_24px">{{this.email}}</p>
    </div>
</div>
{{/with}}