<!--bottom nav part-->
<div class="patient_nav">
    <a href="#">
        <img src="./logo/home.png" class="nav_icon">
    </a>
    <a href="#">
        <img src="./logo/multiple-users-silhouette (1).png" class="nav_icon">
    </a>
    <a href="#">
        <img src="./logo/notification.png" class="nav_icon">
    </a>
    <a href="#">
        <img src="./logo/setting.png" class="nav_icon">
    </a>
</div>

<!-- top part-->
<div class="home_font">
    <div class="home"><b>Home</b></div> 
    <div class="date_font">2022/3/15</div>
</div>


{{#with data}}    
<div class="patient_profile"> 
    <img class="medal" src="./logo/medal.png">
    <img class="profile_img" src={{this.img}}>
    <p class="profile_name"> <b>{{this.first_name}} {{this.last_name}}</b> </p>
    <p class="profile_email"> {{this.email}}</p>
</div>
{{/with}}

<!-- today record part(middle-->
<div class="today_record">
    <p class="today_record_text"> <b>Today's Record</b>
    
    
    </p>
<!-- blood glucose level -->
    <p class="align_left"> <b>Blood glucose level</b></p> 
    <!-- add a pop up page for adding data and comment-->
    
    <button class="comment_button" id="bgl_add_button"><img class="add_icon_blue" src="./logo/add (2).png"></button>
    <div class= "gray_cover" id="gray_form"></div>
    <div class="form-popup" id="bgl_form">
        <form action="/" method="post" class="form-container">
            <h1>Record Your Data</h1>
        
            <label for="data_field"><b>Blood Glucose Level</b></label>
            <input type="text" placeholder="Enter Blood Glucose Level (Nmol/L)" name="blood_glucose_level" required />
        
            <label for="comment_field"><b>Comment</b></label>
            <input type="text" placeholder="Enter Your Comment (Optional)" name="comment" required />
        
            <button type="submit" class="submit_button" onclick="SubmitRequiredData()">Submit</button>
            <button type="button" class="close_button" id="bgl_close">Close</button>
        </form>
    </div>

    {{#with bgl_data}} 
    <p class="align_right"><b>{{this.blood_glucose_level}}</b> Nmol/L</p>
    
    <div style="clear: both;"></div>
       
    <div class="bubbleText" id="maybe_text">
        <p id="maybe_comment">{{this.comment}} </p>
        <time>19:55pm</time>
    </div>

    {{/with}}
<!-- weight -->
    <p class="align_left"> <b>Weight</b></p> 
    <!-- add a pop up page for adding data and comment-->
    <button class="comment_button" id="weight_add_button"><img class="add_icon_blue" src="./logo/add (2).png"></button>
    <div class= "gray_cover" id="gray_form_1"></div>
    <div class="form-popup" id="weight_form">
        <form action="/" method = "post" class="form-container">
            <h1>Record Your Data</h1>
        
            <label for="data_field"><b>Weight</b></label>
            <input type="text" placeholder="Enter Weight (kg)" name="weight" required>
        
            <label for="comment_field"><b>Comment</b></label>
            <input type="text" placeholder="Enter Your Comment (Optional)" name="comment" required>
        
            <button type="submit" class="submit_button" onclick="SubmitRequiredData()">Submit</button>
            <button type="button" class="close_button" id="weight_close">Close</button>
        </form>
    </div>


    {{#with weight_data}} 
    <p class="align_right"><b>{{this.weight}}</b> Kg</p>

    <div style="clear: both;"></div>

    <div class="bubbleText">
        <p>{{this.comment}} </p>
        <time>13:58pm</time> 
    </div>
    {{/with}}
<!-- Doses of insulin taken -->
    <p class="align_left"> <b>Doses of insulin taken</b></p> 
    <!-- add a pop up page for adding data and comment-->
    <button class="comment_button" id="insulin_add_button"><img class="add_icon_blue" src="./logo/add (2).png"></button>
    <div class= "gray_cover" id="gray_form_2"></div>
    <div class="form-popup" id="insulin_form">
        <form action="/" method="post" class="form-container">
            <h1>Record Your Data</h1>
        
            <label for="data_field"><b>Insulin Taken</b></label>
            <input type="text" placeholder="Enter insulin taken (doses)" name="insulin_shots" required>
        
            <label for="comment_field"><b>Comment</b></label>
            <input type="text" placeholder="Enter Your Comment (Optional)" name="comment" required>
        
            <button type="submit" class="submit_button" onclick="SubmitRequiredData()">Submit</button>
            <button type="button" class="close_button" id="insulin_close">Close</button>
        </form>
    </div>

    
    {{#with insulin_data}} 
    <p class="align_right"><b>{{this.insulin_shots}}</b> Doses</p>
    
    <div style="clear: both;"></div>

    <div class="bubbleText">
            <p>{{this.comment}} </p>
            <time>19:56pm</time>
    </div>
    {{/with}}
<!-- Exercise -->
    <p class="align_left"> <b>Exercise</b></p> 
    <button class="comment_button" id="exercise_add_button"><img class="add_icon_blue" src="./logo/add (2).png"></button>
    <div class= "gray_cover" id="gray_form_3"></div>
    <div class="form-popup" id="exercise_form">
        <form action="/" method = 'post' class="form-container">
            <h1>Record Your Data</h1>
        
            <label for="data_field"><b>Exercise</b></label>
            <input type="text" placeholder="Enter steps you walk (steps)" name="walk_steps" required>
        
            <label for="comment_field"><b>Comment</b></label>
            <input type="text" placeholder="Enter Your Comment (Optional)" name="comment" required>
        
            <button type="submit" class="submit_button" onclick="SubmitRequiredData()">Submit</button>
            <button type="button" class="close_button" id="exercise_close">Close</button>
        </form>
    </div>

    

    {{#with exercise_data}} 
    <p class="align_right"><b>{{this.walk_steps}}</b> Steps</p>
    
    <div style="clear: both;"></div>

    <div class="bubbleText">
            <p>{{this.comment}} </p>
            <time>16:32pm</time>
    </div>
    {{/with}}
</div>
<!-- past record part-->
<div class="past_record">
    <p> <b>Past Record </b></p>
    <img class="note_icon" src= "./logo/note.png">
    <br>
    <a href="/view_data"><button> view </button></a>
</div>

<!-- leaderboard part-->
<div class="leader_board">
    <!-- <img class="trans_badge" src="./logo/badge_transparent.png"> -->
    <p style="text-align: center;"> <b>LeaderBoard </b></p>
    <div class="scroller">
            <p>1. Captain Teemo</p>
            <p>2. Shiki2208</p>
            <p>3. Johnwwwwww</p>
            <p>4. foreverfix</p>
            <p>5. bettlejuice</p>
    </div>

</div>
<script src="./javascripts/pop_form.js"></script> 

